DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=measures

# Embedded MQTT Broker
MQTT_BROKER_ENABLED=true
MQTT_BROKER_PORT=1883
MQTT_BROKER_TLS_ENABLED=false
MQTT_BROKER_TLS_CERT=
MQTT_BROKER_TLS_KEY=

# Generic Device API
DEVICE_API_KEY=
DEVICE_AUTO_CREATE=true
